<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <meta charset="utf-8" />
        <title>device message</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    </head>
    <body>
      
        <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <!-- XDSoft DateTimePicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
</head>
<body>

 <p class="title1">Система контроля и управления доступом ASC32</p>
 <p class="title1">{{now}}</p> 

<p class="date">{{form_date}} </p> 
<p class="list_organization"> {{form_organization}} </p>
 
  <form method="GET">
      {% csrf_token %} 
      {{form}}   
        
  </form> 

<form action="{% url 'device_message:refresh_page' %}" method="GET">        
         <input  type="submit" class="btn1"
                 value="refresh page" name="refresh_page">          
</form>  

  <script >
  $(function () {
    $("#id_date1").datetimepicker();
    $("#id_date2").datetimepicker();
  });
 </script> 

      <p class="lb1">  </p>           

      <form action="{% url 'device_message:save' %}" method="get">        
         <input  type="submit" class="btn"
         value="save in pdf" name="save">          
      </form> 
      
      <p class="title">Отчет по контролю времени входа/выхода персонала на предприятии.</p>  


      {% for index, row in organizations_departaments.iterrows %}

          <h3>{{row.oo_name}} {{'_'}} {{row.dd_name}}</h3>
          
          {% for index1, row1 in persons_jobs.iterrows  %}
              {% if row.oo_name == row1.oo_name and row.dd_name == row1.dd_name%}
                 <h4>
                 {{'----'}} {{row1.pp_sur_name}} {{' '}} {{row1.pp_name}} {{' '}}  {{row1.pp_patronymic}}  {{', '}} {{row1.jj_name}}</h4>
                  <table>
                      <tbody>  
                      <tr>
                        <th class="head_table"><small>Дата</small></th>
                        <th class="head_table"><small>Проход</small></th>
                        <th class="head_table"><small>Считыватель</small></th>
                      </tr>

                      {% for index2, row2 in devices_messages.iterrows %}
                          {% if row.oo_name == row2.oo_name and row.dd_name == row2.dd_name and row1.pp_sur_name == row2.pp_sur_name and row1.pp_name == row2.pp_name and row1.pp_patronymic == row2.pp_patronymic and row1.jj_name == row2.jj_name%}
                            <tr>
                              <th class="cell_table">{{ row2.date_f }}</th>
                              <th class="cell_table">{{ row2.time_f }}</th>
                              <th class="head_table_reader">{{ row2.readerID }}</th>            
                            </tr>                        
                            
                          {% endif %}        
                        {% endfor %}      
                       
                      </tbody>
                  </table>
              {% endif %}
          {% endfor %}          
      {% endfor %}      
    </body>
</html>


